.aboutBrand_img{
    width: 45%;
    height: 20%;
    margin: 1rem auto 1rem auto;
}

@media(max-width: 768px){
    
        .aboutBrand_img{
            width: 90%;
            height: 40%;
        }
        
    }
